@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

/** NAVBAR **/
.menu-wrap {
  height: 44px;
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap img {
  height: 24px;
  width: 24px;
}

.menu-wrap .btn-check {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.menu-wrap .hamburguesa {
  position: absolute;
  top: 20px;
  right: 12px;
  z-index: 1;
  width: 24px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu-item {
  display: block;
  margin-top: -280px;
  height: 224px;
  width: 320px;
  background: #0000EC;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-wrap .menu-item ul {
  text-align: left;
}

.menu-wrap .menu-item ul li {
  display: block;
  height: 56px;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  list-style: none;
  line-height: 48px;
  margin-left: 20px;
}

.menu-wrap .menu-item ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-wrap .menu-item ul li a:hover {
  text-decoration: line-through;
  color: #00F3BB;
}

.menu-wrap .menu-item ul li a:active {
  text-decoration: line-through;
  color: #060A24;
  opacity: 56%;
}

/** Lineas Hamburguesa **/
.menu-wrap .hamburguesa > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburguesa > div:before,
.menu-wrap .hamburguesa > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/** Moviendo lineas **/
.menu-wrap .hamburguesa > div:after {
  top: 8px;
}

.menu-wrap .btn-check:checked + .hamburguesa > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/** Formando la X **/
.menu-wrap .btn-check:checked + .hamburguesa > div:before,
.menu-wrap .btn-check:checked + .hamburguesa > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/** Rotar cuando este hover y chequeado **/
.menu-wrap .btn-check:checked:hover + .hamburguesa > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .btn-check:checked ~ .menu-item {
  visibility: visible;
  margin-top: 280px;
}

@media (min-width: 600px) {
  .menu-wrap img {
    height: 36px;
    width: 36px;
  }
  .menu-wrap .btn-check {
    display: none;
  }
  .menu-wrap .hamburguesa {
    display: none;
  }
  .menu-wrap .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    height: 44px;
    width: 90%;
    visibility: visible;
    background: #ffffff;
    -webkit-transition: none;
    transition: none;
  }
  .menu-wrap .menu-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 60%;
  }
  .menu-wrap .menu-item ul li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu-wrap .menu-item ul li a {
    color: #060A24;
    text-decoration: none;
  }
}

/** HEADER & TITULOS **/
header {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

header h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 64px;
  color: #060A24;
  font-weight: 100;
  letter-spacing: 0;
  z-index: -1;
}

header h1 .tachado {
  text-decoration: line-through;
}

header h1 .punto {
  color: #0000EC;
}

header p {
  margin-top: 5%;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060A24;
  z-index: -1;
}

header button {
  display: block;
  margin-top: 5%;
  height: 48px;
  width: 288px;
  background: #00F3BB;
  border: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header button a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060A24;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

header button:hover a {
  color: #ffffff;
}

@media (min-width: 600px) {
  header {
    width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header h1 {
    margin-left: 10%;
  }
  header p {
    margin-left: 10%;
  }
  header button {
    margin-left: 10%;
  }
}

/** EPISODIOS (MAIN) **/
main {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.4fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 1300px;
}

main h2 {
  margin-left: 5%;
  margin-top: 10%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  font-weight: 100;
  color: #ffffff;
  z-index: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

main iframe {
  width: 95%;
  margin-left: 2%;
  z-index: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

main:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

@media (min-width: 600px) {
  main {
    grid-gap: 50px;
    height: 950px;
  }
  main h2 {
    font-size: 48px;
  }
  .pod_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .pod_2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .pod_3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .pod_4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

/** Phone Container **/
.phone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-container img {
  height: 519px;
  width: 360px;
  margin-top: -20px;
  z-index: 3;
}

.phone-container h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  font-weight: 100;
  width: 50%;
  margin-left: 2%;
}

.phone-container p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  margin-left: 2%;
  margin-top: 5%;
}

@media (min-width: 600px) {
  .phone-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .phone-container article {
    width: 50%;
  }
  .phone-container article h2 {
    margin-left: 0;
  }
  .phone-container article p {
    margin-left: 0;
  }
}

/** Guests **/
.guest {
  display: block;
  width: 100%;
}

.guest h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 50%;
  font-weight: 100;
}

.guest .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.guest .img-container img {
  width: 100%;
}

@media (min-width: 600px) {
  .guest h2 {
    margin-left: 15%;
  }
  .guest .img-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .guest .img-container img {
    width: 33%;
  }
}

/** Temas **/
.temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temas h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 100;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.temas .icono-tema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.temas .icono-tema .icon-container {
  margin: 5%;
}

.temas .icono-tema .icon-container h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: 600px) {
  .temas h2 {
    font-size: 48px;
    margin-bottom: 0;
  }
  .temas .icono-tema {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/** NOVEDADES **/
.novedades {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 400px;
}

.novedades h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  z-index: 2;
}

.novedades button {
  display: block;
  margin-top: 5%;
  height: 48px;
  width: 288px;
  background: #00F3BB;
  border: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 2;
}

.novedades button a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060A24;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 2;
}

button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

button:hover a {
  color: #ffffff;
}

.novedades:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  z-index: -1;
}

@media (min-width: 600px) {
  .novedades h1 {
    font-size: 48px;
    margin-top: 5%;
  }
}

/** FOOTER **/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 100%;
  height: 150px;
}

footer h6 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 100;
}

footer .media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin-top: 1%;
}

footer .media-container a {
  text-decoration: none;
  color: #060A24;
  font-size: 16px;
}

@media (min-width: 600px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer h6 {
    margin-left: 5%;
  }
  footer .media-container {
    width: 20%;
    margin-right: 5%;
  }
  footer .media-container a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */