@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap')
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap')

$font-titulo: 'IBM Plex Sans', sans-serif
$font-parrafo: 'IBM Plex Mono', monospace


*
    margin: 0
    padding: 0

/** NAVBAR **/

@import "_navbar.sass"

/** HEADER & TITULOS **/

@import "_header.sass"

/** EPISODIOS (MAIN) **/

@import "_main.sass"

/** Phone Container **/

@import "_phone-container.sass"

/** Guests **/

@import "_guests.sass"

/** Temas **/

@import "_temas.sass"